@import "tailwindcss";
@plugin "daisyui" {
    themes: all;
    logs: false;
}

/* Default uses grid, this does not play well with array-containing fieldsets */
.fieldset {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* Always wrap text in fieldset labels to avoid weird display with settings (long descriptions) */
.fieldset > .label {
    white-space: normal;
}

/* Remove outline everywhere, looks weird on smaller inputs/join-items */
input, select, textarea, label {
    --tw-outline-style: none !important;
    outline-style: none !important;
}
