name: Check i18n

on:
  pull_request:
    paths: ['src/i18n/locales/**']

permissions:
  contents: read

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version-file: 'package.json'

      - run: npm ci

      - run: node ./scripts/check-i18n.mjs
